/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #f9f9f9;
    
    background-image: url(imagenes/image00014.jpeg);
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
    /*Aplica una capa de opacidad mediante color semitransparente */
    background-blend-mode: overlay; 
    background-color: rgba(255, 255, 255, 0.5); /* Blanco semitransparente para opacar la imagen 255, 255, 255, 0.7*/
}


/* Header Styles */
.main-header {
    background-color: #fdf3ec; /*fondo header*/
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

#colormenu {
    display: flex; /* Usa Flexbox para organizar el logo y el menú */
    justify-content: space-between; /* Distribuye el espacio entre el logo y el menú */
    align-items: center; /* Alinea verticalmente el logo y el menú */
    background-color: #fdf3ec; /* Color de fondo del menú #fffbf0*/
    padding: 10px;
    border-radius: 10px;
}

.logo img {
    width: 20em; /* Ajusta el tamaño del logo según tus necesidades */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Opción por defecto, por ejemplo */
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* color letras del menu*/
    font-size: 1.2em;
}
/*/////////////////////////////*/
.menu-toggle {
    display: none; /* Ocultar por defecto en pantallas grandes */
    cursor: pointer;
    font-size: 24px;
}

/* Estilos para el fondo del menú */
#colormenu {
    background-color: #fdf3ec; /* Color de fondo del div del menú */
    padding: 20px;
    border-radius: 10px;
}

/* Section Styles */
section {
    padding: 60px 0;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #474747;
}

/* About Section */
.about-section p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

/* Menu Section */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Distribuye los ítems de forma flexible */
    gap: 20px; /* Espacio entre ítems */
}

.menu-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.menu-item h3, .menu-item p, .menu-item span {
    position: relative;
    z-index: 2;
}

/* Estilos específicos para las imágenes de fondo */
.menu-item:nth-child(1) {
    background-image: url(imagenes/torreznos.jpeg);
}

.menu-item:nth-child(2) {
    background-image: url(imagenes/pulpo\ a\ la\ gallega.jpeg);
}

.menu-item:nth-child(3) {
    background-image: url(imagenes/rubia\ gallega.jpeg);
}

.menu-item:nth-child(4) {
    background-image: url(imagenes/enlasada.jpeg);
}

.menu-item:nth-child(5) {
    background-image: url(imagenes/croquetas.jpeg);
}

.menu-item:nth-child(6) {
    background-image: url(imagenes/tacos\ de\ solomillo.jpeg);
}

.menu-item:nth-child(7) {
    background-image: url(imagenes/patatas\ bravas.jpeg);
}

.menu-item:nth-child(8) {
    background-image: url(imagenes/almejas.jpeg);
}


/* Contact Section */
.contact-section p {
    text-align: center;
    font-size: 1.2em;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
/*////////////////////////////////////////////////////////////////////*/
/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    #colormenu {
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }


    nav ul li {
        margin: 10px 0;
    }

    nav ul {
        display: none; /* Ocultar el menú por defecto en móviles */
        flex-direction: column;
        width: 100%;
    }

    nav ul.active {
        display: flex; /* Mostrar el menú cuando la clase 'active' esté aplicada */
    }

    .menu-toggle {
        display: block; /* Mostrar el botón de menú hamburguesa en móviles */
    }
}
