/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #f9f9f9;
    
    background-image: url(imagenes/image00014.jpeg);
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-position: center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    
    /*Aplica una capa de opacidad mediante color semitransparente */
    background-blend-mode: overlay; 
    background-color: rgba(255, 255, 255, 0.5); /* Blanco semitransparente para opacar la imagen 255, 255, 255, 0.7*/
}


/* Header Styles */
.main-header {
    background-color: #fdf3ec; /*fondo header*/
    padding: 20px 0;
    border-bottom: 1px solid #eee;
}

#colormenu {
    display: flex; /* Usa Flexbox para organizar el logo y el menú */
    justify-content: space-between; /* Distribuye el espacio entre el logo y el menú */
    align-items: center; /* Alinea verticalmente el logo y el menú */
    background-color: #fdf3ec; /* Color de fondo del menú #fffbf0*/
    padding: 10px;
    border-radius: 10px;
}

.logo img {
    width: 20em; /* Ajusta el tamaño del logo según tus necesidades */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Opción por defecto, por ejemplo */
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0); /* color letras del menu*/
    font-size: 1.2em;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////*/

/* Estilo para ocultar el submenú */
.submenu {
    display: none; /* Ocultar el submenú por defecto */
    position: absolute;
    background-color: #fdf3ec;
    padding: 10px;
    list-style: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Mostrar el submenú cuando esté activo */
.submenu li {
    margin-bottom: 5px;
}

.submenu li a {
    text-decoration: none;
    color: #000;
}

/* Mostrar submenú al hacer clic */
.show-submenu {
    display: block;
}

/*////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////*/
.menu-toggle {
    display: none; /* Ocultar por defecto en pantallas grandes */
    cursor: pointer;
    font-size: 24px;
}

/* Estilos para el fondo del menú */
#colormenu {
    background-color: #fdf3ec; /* Color de fondo del div del menú */
    padding: 20px;
    border-radius: 10px;
}

/* Section Styles */
section {
    padding: 60px 0;
}

h2 {
    font-size: 4em;
    margin-bottom: 20px;
    text-align: center;
    color: #474747;
}

.nota {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
    color: #474747;
}

.nota a {
    color:#000000; /* Hereda el color del texto del contenedor */
    text-decoration: none; /* Quita el subrayado del enlace */
}

.subtitle {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #474747;
}

/* About Section */
.about-section p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

/* Menu Section */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Distribuye los ítems de forma flexible */
    gap: 20px; /* Espacio entre ítems */
    margin-bottom: 20px; /* Espacio en la parte inferior de la rejilla */
}
/*--------------------------------------
                ENTRANTES
---------------------------------------*/
.menu-item {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7); /* Aumentar opacidad de la imagenes de los platos*/
}

.menu-item h3, .menu-item p, .menu-item span {
    position: relative;
    z-index: 2;
}

/* Estilos específicos para las imágenes de fondo  DE LOS ENTRANTES*/
.menu-item:nth-child(1) {
    background-image: url("imagenes/torreznos.jpeg");
}

.menu-item:nth-child(2) {
    background-image: url("imagenes/enlasada.jpeg");
}

.menu-item:nth-child(3) {
    background-image: url("imagenes/croquetas.jpeg");
}

.menu-item:nth-child(4) {
    background-image: url("imagenes/almejas.jpeg");
}

/*--------------------------------------------
                 PRINCIPALES
--------------------------------------------*/
.menu-item2 {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    color: #fff;
    position: relative;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menu-item2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7); /* Aumentar opacidad de la imagenes de los platos*/
}

.menu-item2 h3, .menu-item2 p, .menu-item2 span {
    position: relative;
    z-index: 2; /* Asegúrate de que el z-index esté aplicado a todos los elementos de texto */
    color: #fff; /* Asegúrate de que el color sea blanco */
}
/* Estilos específicos para las imágenes de fondo  DE LOS PRINCIPALES*/
.menu-item2:nth-child(1) {
    background-image: url("imagenes/tacos\ de\ solomillo.jpeg");
}

.menu-item2:nth-child(2) {
    background-image: url("imagenes/pulpo\ a\ la\ gallega.jpeg");
}

.menu-item2:nth-child(3) {
    background-image: url("imagenes/rubia\ gallega.jpeg");
}


/* Contact Section */
.contact-section p {
    text-align: center;
    font-size: 1.2em;
}

.insta {
    display: flex; /* Usa Flexbox para centrar el contenido */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 20px; /* Espacio entre el párrafo y la línea de Instagram */
}

.insta img {
    width: 2em; /* Ajusta el tamaño del logo según tus necesidades */
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

.insta a {
    color: inherit; /* Hereda el color del texto del contenedor */
    text-decoration: none; /* Quita el subrayado del enlace */
}

.insta a:hover {
    text-decoration: underline; /* Opción de subrayado al pasar el mouse */
}
/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}
/*////////////////////////////////////////////////////////////////////*/
/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    #colormenu {
        flex-direction: column;
        align-items: flex-start; /* Alinea los elementos a la izquierda */
    }


    nav ul li {
        margin: 10px 0;
    }

    nav ul {
        display: none; /* Ocultar el menú por defecto en móviles */
        flex-direction: column;
        width: 100%;
    }

    nav ul.active {
        display: flex; /* Mostrar el menú cuando la clase 'active' esté aplicada */
    }

    .menu-toggle {
        display: block; /* Mostrar el botón de menú hamburguesa en móviles */
    }
}
